# Data Types 

## Numbers

In [1]:
5

5

In [2]:
5 + 5

10

In [3]:
5 * 5

3125

In [4]:
5 / 4

1.25

## Strings

In [5]:
s = "Hello there"

In [6]:
print(s)

Hello there

In [7]:
s[1]

'e'

In [8]:
s[:5]

'Hello'

In [9]:
s[::-1]

'ereht olleH'

## Booleans

In [21]:
5 > 5

False

In [22]:
8 > 6

True

## Print formatting

In [10]:
name = "Vasilis"
print ('Hello there my name is: %s' %(name))

Hello there my name is: Vasilis

The first number indicates minimum number of digits the string should contain

In [13]:
number = 158.5884064
print ('Print the number in 3 decimal detail: %1.3f' %(number))
print ('Print the number in 0 decimal detail: %1.0f' %(number))
print ('Print the number with 15 minimum number of digits and 3 decimals: %15.3f' %(number))

Print the number in 3 decimal detail: 158.588
Print the number in 0 decimal detail: 159
Print the number with 15 minimum number of digits and 3 decimals:         158.588

In [18]:
first_number = 1.5
second_string = "one and a half"
print('First number:%1.2f , Second element: %s'%(first_number, second_string))

First number:1.50 , Second element: one and a half

In [19]:
print( 'My name is {name}'.format(name='Vasils'))

My name is Vasils

In [20]:
print( 'I have a {animal}. I really like my {animal}'.format(animal='dog'))

I have a dog. I really like my dog

# Data structures

## Lists

### Creation

In [39]:
l_num = [1, 2, 3, 4, 5]
l_str = ["Hello", "there"]
l_mixed = ["One", 1, "Two",]
print(l_num)
print(l_str)
print(l_mixed)

[1, 2, 3, 4, 5]
['Hello', 'there']
['One', 1, 'Two']

In [27]:
print(len(l_str))
print(len(l_mixed))

2
3

### Indexing

In [28]:
l_str[1]

'there'

In [29]:
l_num[1:]

[2, 3, 4, 5]

### Re-assigning

In [31]:
l_str = l_str + ["This is Vasilis"]
l_str

['Hello', 'there', 'This is Vasilis']

In [32]:
l_str * 3

['Hello',
 'there',
 'This is Vasilis',
 'Hello',
 'there',
 'This is Vasilis',
 'Hello',
 'there',
 'This is Vasilis']

### Methods

In [40]:
l_num.append(6)

In [41]:
print(l_num)

[1, 2, 3, 4, 5, 6]

In [42]:
l_num.pop(3)

4

In [43]:
print(l_num)

[1, 2, 3, 5, 6]

In [44]:
l_num.pop()

6

In [45]:
l_num

[1, 2, 3, 5]

In [46]:
l_str.reverse()

In [47]:
l_str

['there', 'Hello']

In [48]:
l_num.sort()

In [49]:
l_num

[1, 2, 3, 5]

### Nested lists

In [50]:
l_1 = [1, 2, 3]
l_2 = [4, 5, 6]
l_3 = [7, 8, 9]

nested_list = [l_1, l_2, l_3]
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [51]:
nested_list[0]

[1, 2, 3]

In [52]:
nested_list[0][2]

3

### List Comprehension

In [53]:
second_column = [row[1] for row in nested_list]
second_column

[2, 5, 8]

## Dictionaries

### Creating

Dictionaries are composed by keys and values.

In [54]:
my_dict = {'key1':1, 'key2':2, 'key3':3}
print(my_dict)

{'key1': 1, 'key2': 2, 'key3': 3}

In [55]:
print(my_dict['key2'])

2

In [57]:
mixed_dict = {'key1': 123, 'key2':[1,2,3], 'key3':'twelve'}
mixed_dict['key2']

[1, 2, 3]

In [58]:
mixed_dict['key2'][1]

2

In [61]:
mixed_dict['key1'] = mixed_dict['key1'] - 1
mixed_dict

{'key1': 122, 'key2': [1, 2, 3], 'key3': 'twelve'}

In [62]:
mixed_dict['key1'] -= 22

In [63]:
mixed_dict

{'key1': 100, 'key2': [1, 2, 3], 'key3': 'twelve'}

In [64]:
new_dict = {}

In [65]:
new_dict['new_key'] = 'new_value'

In [66]:
new_dict

{'new_key': 'new_value'}

### Nesting with Dictionaries

In [68]:
nested_dict = {'key1':{'subkey1':'value'}}
nested_dict['key1']['subkey1']

'value'

### Methods

In [69]:
my_dict = {'key1':1,'key2':2,'key3':3}

In [70]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [71]:
my_dict.values()

dict_values([1, 2, 3])

In [72]:
my_dict.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

## Tuples

Tuples are very similar to list with only difference that they are immutable.

### Create

In [77]:
my_tuple = (2, 2, 1)
print(my_tuple)

(2, 2, 1)

In [78]:
len(my_tuple)

3

In [79]:
my_tuple[-1]

1

### Methods

In [80]:
my_tuple.index(1)

2

In [82]:
my_tuple.count(2)

2

### Immutability

In [83]:
my_tuple[1] = 1

TypeError: 'tuple' object does not support item assignment

## Sets

Sets are an unordered collection of unique elements.

In [85]:
x = set()
x

set()

In [86]:
x.add(1)
x

{1}

In [87]:
x.add(2)
x

{1, 2}

In [88]:
x.add(1)
x

{1, 2}

In [89]:
l = [1, 2, 3, 1, 3, 5, 2]

In [90]:
set(l)

{1, 2, 3, 5}