# Methods

We will go through the most used methods

## Append

Add an element at the end of the list

In [32]:
l = [1, 2, 3, 4, 5, 6]
l.append(6)
l

[1, 2, 3, 4, 5, 6, 6]

## Count

Counts the number of elements in the list

In [33]:
l.count(6)

2

## Extend

add a new list to the current list

In [34]:
l.extend([1,2])
l

[1, 2, 3, 4, 5, 6, 6, 1, 2]

## Insert

Change the element of the index (1rst argument) to the new value (2nd argument)

In [35]:
l.insert(0, 5)
l

[5, 1, 2, 3, 4, 5, 6, 6, 1, 2]

## Pop

Retrieves and removes from the  list the element of the index (argument), if the scope is empty then it removes the last element.

In [36]:
l.pop()

2

In [37]:
l

[5, 1, 2, 3, 4, 5, 6, 6, 1]

In [38]:
l.pop(1)

1

In [39]:
l

[5, 2, 3, 4, 5, 6, 6, 1]

## Remove

Removes the element from the list

In [40]:
l.remove(1)
l

[5, 2, 3, 4, 5, 6, 6]

## Reverse 
Reverses the elements from the list

In [43]:
l.reverse()
l

[6, 6, 5, 4, 3, 2, 5]

## Sort

Sorts the list

In [44]:
l.sort()
l

[2, 3, 4, 5, 5, 6, 6]

# Functions

In [46]:
def print_arg(arg):
    print(arg)

print_arg("argument")

argument

In [47]:
def mult_num(a, b):
    return(a * b)

mult_num(1, 2)

2

The difference between *return* and *print* is that *print* just print the values but *return* returns the value and we can assign it to an object .

In [49]:
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            print ('not prime')
            break
    else:
        print ('prime')

In [50]:
is_prime(8)

not prime

In [51]:
# Efficient way of checking for prime number
import math

def is_prime(num):
    if num % 2 == 0 and num > 2: 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [52]:
is_prime(2)

True

# Lambda expressions

Those are used for simple functions that are used as one-liners

In [55]:
def square(num):
    return num**2

In [56]:
square(2)

4

In [58]:
square = lambda num: num**2

In [59]:
square(2)

4

In [61]:
even = lambda x: x%2==0
even(2)

True

In [62]:
# Reverse string
rev = lambda s: s[::-1]
rev("Blah")

'halB'

# Useful expressions for functions

## Map

In [81]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

def celsius(T):
    return (float(5)/9)*(T-32)
    
temperatures = (36.5, 37, 37.5, 38, 39)

F = list(map(fahrenheit, temperatures))
F

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]

In [82]:
list(map(celsius, F))

[36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [83]:
list(map(lambda x: (5.0/9)*(x - 32), F))

[36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [84]:

a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

list(map(lambda x,y:x+y,a,b))

[6, 8, 10, 12]

## filter

The function filter(function, list) offers a convenient way to filter out all the elements of an iterable, for which the function returns *True*.

In [85]:
def even_check(num):
    if num%2 ==0:
        return True
    
l =range(10)

list(filter(even_check,l))

[0, 2, 4, 6, 8]

In [87]:
list(filter(lambda x: x%2==0,l))

[0, 2, 4, 6, 8]

# Nested Statements and Scope

In [67]:
x = 25

def printer():
    global x
    print(x)
    x = 50
    print(x)

print (printer())

25
50
None